* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;

    user-select: none;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}




:root {
    --color-1: #FDFFFC;
    --color-2: #cbf8f8ea;
    --color-3: #47BBB0;
    --color-4: #FDFFFC;

    font-size: 10px;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Helvetica Neue', sans-serif;
    color: var(--color-1);
    background: var(--color-3);
}



main {
    width: 100%;
    padding: 0 4rem;
}



main header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;
}

main header img {
    width: 11rem;
    height: 11rem;
    object-fit: cover;
    border-radius: 50%;
    pointer-events: none;
}

main header h1 {
    margin-top: 2rem;

    font-size: 2.6rem;
    font-weight: 600;
}

main header a {
    margin-top: .4rem;

    font-size: 1.7rem;
    font-weight: 350;
    color: var(--color-2);

    transition: color .2s;
}

main header a:hover {
    color: var(--color-4);
}



main ul {
    margin-top: 5rem;

    display: grid;
    justify-items: center;
    grid-template-columns: 100%;
    gap: 4rem;
}

main ul li {
    width: 100%;
    max-width: 22rem;

    transform-origin: top;
}

main ul li a {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--color-1);
    box-shadow: 0 .8rem 2rem rgba(30, 24, 56, 0.219);

    padding: 2rem 0;
    border-radius: .2rem;

    transition: transform .2s, box-shadow .2s;
}

main ul li a p {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: #FDFFFC;
    margin-left: 20px;
}
